# String de conexão do seu banco de dados PostgreSQL
DATABASE_URL="postgres://user:password@auth-postgres:5432/auth_db"

# Porta que o serviço irá rodar
PORT="8001"

# Chave mestra para criar novas chaves de API
MASTER_KEY="chave_dificil_demais_123"
 
